<%- include('partials/head')%>

<div class="col-lg-8">
  <main>
    <h3>Add a New note</h3>
    <div class="contact-clean">
      <form action="/notes" method="POST">
        <div class="form-group">
          <!-- <label for="title-id"> Enter Title</label> -->
          <input
            autofocus
            class="form-control-t"
            name="title"
            id="title-id"
            type="text"
            placeholder="Title..."
            rows="1"
          />
        </div>
        <div class="form-group">
          <textarea
            class="form-control"
            id="note-id"
            name="text"
            placeholder="Note..."
            rows="20"
          ></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        <a href="/notes" style="color: blue;">Back to Index Page</a>
      </form>
    </div>
  </main>
</div>
<%- include('partials/footer')%>
